# Ignorar el historial de Git
.git

# Ignorar archivos de entorno y secretos locales
.env
.env.*
secrets/

# Ignorar configuraciones de IDEs y editores
.vscode/
.idea/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Documentación y archivos auxiliares que no son necesarios en el contenedor
README.md
README-*.md
*.sh